<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbardrop"
        data-toggle="dropdown"
      >
        Produits
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/products">chercher</a>
        <a class="dropdown-item" routerLink="/newproduct">ajouter</a>
      </div>
    </li>
  </ul>
</nav>
<br />

<router-outlet> </router-outlet>
