<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">liste des produits</div>
    <div class="panel-body">
      <button class="btn btn-primary" (click)="onGetProducts()">
        Produits
      </button>
    </div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
        <div class="form-group">
          <label>keyword</label>
          <input type="text" name="keyword" ngModel />
          <button class="btn btn-primary" type="submit">chercher</button>
        </div>
      </form>
      <table *ngIf="produits" class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>desighation</th>
            <th>prix</th>
            <th>qte</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of produits._embedded.produits">
            <td>{{ p.id }}</td>
            <td>{{ p.designation }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.quantity }}</td>

            <button class="btn btn-danger" (click)="onClickDelete(p)">
              delete
            </button>
          </tr>
        </tbody>
      </table>
      <!-- <nav class="nav">
        <li *ngFor="let p of pages; let i = index" class="nav-item">
          <a class="nav-link" href="#">{{ i }}</a>
        </li>
      </nav> -->
      <ul *ngIf="pages" class="nav nav-pills">
        <li class="nav-item" *ngFor="let p of pages; let i = index">
          <a
            [ngClass]="i == currentPage ? 'active' : ''"
            (click)="onPageProduct(i)"
            class="nav-link clickoble"
            >{{ i }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
